bin/
build/
.vscode/
CMakeFiles/
Temporary/
__pycache__/

solution_*
Solutions/*.cpp
Solutions/*.h
password

CMakeCache.txt
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

.guides/assessmentsAnswers.json
.guides/metadata.json
.guides/styles.css
.guides/prevname
.settings